<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate API | Trang chủ</title>
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<body>
    <%- include("./includes/navigation.ejs")%>

        <div class="home">
            <div class="home__container">
                <div class="home__img">
                    <img src="https://thumbs.dreamstime.com/b/app-translate-language-illustrations-flat-design-concept-people-sit-icon-application-vector-illustrate-175609838.jpg" alt="">
                </div>
                <div class="home__description">
                    <h3>API HTTP cho phép dịch từ tiếng Anh sang tiếng Việt và ngược lại. Một sản phẩm được code bởi <a href="https://www.facebook.com/duythenights/" target="_blank">Florentino Duy Dinh</a></h3>
                </div>
            </div>
        </div>

</body>

</html>